<!DOCTYPE html>
<html lang="en" ng-app="angularTodoApp">
<head>
    <meta charset="UTF-8">
    <title>Angular ToDo</title>
    <link rel="stylesheet" href="/static/app/css/normalize.css">
    <link rel="stylesheet" href="/static/app/css/style.css">
    <script type="text/javascript" src="/static/app/lib/angular.js"></script>
    <script type="text/javascript" src="/static/app/js/controllers.js"></script>
</head>
<body ng-controller="TodoListCtrl">
    <div id="container">
        <h1>
            To-Do Items
            <button id="addItem">+</button>
        </h1>
        <input id="description" placeholder="Description">
        Search: <input ng-model="query">
        <div id="content">
            <table>
                <tr ng-repeat="item in items | filter:{description:query, active: true} | orderBy:orderProp">
                    <td>{{item.description}}: {{item.created | date:'shortDate'}}</td>
                    <td>
                        <button ng-click="finishItem(item._id)">-</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>